<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script language="javascript" src="js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<style>
    html,
    body {
        height: 100%;
    }
</style>

<body class="text-center" style="padding-top: 5rem;">
    {{> navbar}}

    <div style="padding: 3rem 1.5rem;
  text-align: center;" id="libraryIndex">

        <div class="card" style="margin-bottom:1.5rem">
            <div class="card-body">
                <h5 class="card-title">Add A Book</h5>

                <form id="addBook" role="form">
                    <div class="form-row">

                        <div class="col-9">

                            <input type="text" class="form-control" placeholder="Book Title" id="book_title" name="book_title">
                        </div>

                        <button type="button col" class="btn btn-primary">ADD A BOOK</button>


                    </div>
                </form>

            </div>
        </div>
        {{getBooks doc}}


    </div>
    <script>
        const addBook = $("#addBook")
        addBook.submit((e) => {
            e.preventDefault()
            $.ajax({
                url: "http://localhost:3000/profile?book_title=" + $("#book_title").val(),
                type: "POST",

            }).done((data) => {
                console.log(data)
                if ($("#noBooks")) {
                    $("#noBooks").remove()
                    $("#libraryIndex").append("<ul class='list-group'></ul>")
                    $(".list-group").append("< li class='list - group - item' >"++" </li >")
                    // $(".list-group").append("< li class='list - group - item' >"++" </li >")
                    //< li class="list-group-item" > Cras justo odio</li >


                }

            })
        })
    </script>

</body>

</html>